
@{
    ViewBag.Title = "Index";
}


@*<h4>@Html.TextBox("crude_pinyin")</h4>*@
<input class="sec-txt" type="text" name="searchname" placeholder="Please input crude pinyin" id="crude_pinyin">
<input class="sec-btn" type="button" value="PARSE" id="pinyin_button">

<div id="pinyin_res"></div>
