
@{
    ViewBag.Title = "Index";
}


@*<h4>@Html.TextBox("crude_pinyin")</h4>*@
<input class="sec-txt" type="text" name="searchname" placeholder="Please input company address" id="com_addr">
<input class="sec-btn" type="button" value="SEG" id="seg_addr_btn">

<div class="seg_res" id="addr_res"></div>

